.conteiner {
  width: 1283px;
}

.conteiner-span {
  color: #4bcaff;
}

.conteiner-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: center;
  width: 1283px;
  background: #35444f;
  color: #ffffff;
  margin-bottom: 50px;
}
.link {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  padding: 25px 40px 25px 40px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border-left: 1px solid #ffffff;
  transition: background-color 1s ease-in-out;
}

.link:hover {
  background-color: #222f3a;
}

.aside {
  width: 344px;
  height: 400px;
  list-style: none;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
}

.link-li {
  text-decoration: none;
  color: #495863;
  padding-top: 50px;
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 30px;
}
.link-li:hover {
  background: #dbdbdb;
  color: black;
}
.image > p {
  width: 885px;
  margin-bottom: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.picture {
  margin-bottom: 35px;
  border: 1px solid #000000;
}

.image-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  margin-top: 75px;
}
.image-link:hover {
  transform: scale(1.2);
  transition: 1s;
}

.main {
  display: flex;
  justify-content: space-between;
}
.link-list {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  color: #0c1927;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 55px;
}

.footer {
  display: flex;
  padding-left: 40px;
}

.footer-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  display: flex;
  justify-content: space-around;
}

.list-footer {
  margin-right: 20px;
}

.child {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #0c1927;
  margin-left: auto;
  margin-right: 40px;
  display: inline-block;
}

.footer-link:hover {
  color: #3181a6;
}
